<div class="jumbotron">
  <h1 class="display-4">App TechNews</h1>
  <p class="lead">Informações sobre o universo da tecnologia.</p>
  <hr class="my-4">
  <p>Fique atualizado sobre as inúmeras linguagens de desenvolvimento.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta!</a>
</div>
<hr>
<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-success">Saiba mais</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small><br>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
<h5>Nenhuma Postagem</h5>
{{/each}}